
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');






/* ------- Contents ------- */
/* 
    1. General Styles
        1.1 Texts
        1.2 Buttons
        1.3 Icons
    
    2. Components
        2.1 Header
        2.2 Timer
        2.3 Settings Controls
        2.4 Player Controls
*/









/* ------- 1. General Styles ------- */



/*----- 1.1 Texts -----*/
h1 {
    font-size: 45px;
}

p {
    font-size: 12px;
}

a {
    color: chocolate;
    
    margin-left: 5px;
    
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}




/*----- 1.2 Buttons -----*/
button {
    background: cadetblue;
    color: white;

    margin: 10px;
    padding: 5px;
    
    border: 1px solid gray;
}

button:focus {
    outline: none;
}

button:hover {
    background: lightblue;
}




/*----- 1.3 Icons -----*/
i {
    margin: 5px;
}











/* ------- 2. Components ------- */

.pomodoro {
    /* background-color: teal; */
    min-width: 360px;
    width: 70%;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}




/* ----- 2.1 Header ----- */

header {
    text-align: center;
    font-family:'Varela', sans-serif;
}





/* ----- 2.2 Timer ----- */

#timer {
    /* background: chocolate; */
    width: 100%;
    height: 200px;

    margin-top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#timer-label {
    font-size: 25px;
}
#time-left {
    font-size: 60px;
}




/* ----- 2.3 Settings Controls ----- */

#settings-controls {
    /* background: crimson; */
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.length-control {
    min-width: 135px;
    margin: 30px;
    
    text-align: center;
    font-size: 25px;
}




/* ----- 2.4 Player Controls ----- */

#player-controls {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width: 400px){
    #settings-controls {
        flex-direction: column;
    }

    .length-control {
        margin: 10px;
    }
    .length-control:nth-child(1){
        margin-bottom: 0;
    }
    .length-control:nth-child(2){
        margin-top: 0;
    }
}