* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background: #2b0911;
    width: 100%;
    height: 100vh;

    color: #efeded;

    display: flex;
    justify-content: center;
    align-items: center;
}